# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Build
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# =========================
# NauSync
# =========================

# Runtime database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Cache
cache/
sync_cache/

# User configuration
config.json
settings.json

# Secrets
.env
.env.*
credentials.json
client_secret.json
token.json

# Backup
backup/

# Temporary files
*.tmp
temp/

#bot log
bot-log.txt

pin.store.json